.authButton{
    margin-top: 60px;
    width: 535px!important;
    margin-bottom: 100px;
}
.iconSizing{
    width: 30px;
    float: left;
}
.GoogleAuth{
    background-color: White!important;
    color: black!important;
    font-weight: bolder!important;
    border: none!important;
    box-shadow: 5px 5px 20px lightgray!important;
}
.AuthComponents{
    margin-top: 70px;
}